@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The information and materials contained in this website are provided "as is" without warranty of any kind, either expressed or implied, including without limitation any warranty of accuracy, adequacy or completeness of the information and materials, title, non-infringement, merchantability, fitness for a particular purpose and freedom from computer viruses</p>
<p>
    Any person may view the information available from this website for informational purposes only. No part of this information may be redistributed, copied or reproduced without prior written consent. The information contained in this website is subject to change without notice.
</p><p>
    Your use of the hyperlinks on this website to other Internet sites is at your own risk. We are not responsible for third party sites hyperlinked from this website nor do we make any endorsements or warranties, express or implied, with respect to the content of third party websites or the products or services offered on any third party websites, including merchantability or fitness for a particular purpose. We do not warrant or represent that any third party site, or the content thereon, is devoid of viruses or other contamination. We do not guarantee the authenticity of documents available on the Internet. We reserve the right to terminate any link at any time.
</p>
