@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    1443 Brightside Dr<br />
    Baton Rouge, LA 70820<br />
    <abbr title="Phone">P:</abbr>
    800.555.1234
</address>