<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=d4171f3c-aeb6-4b50-aa9b-ab210007dfd0.sqlserver.sequelizer.com;Database=dbd4171f3caeb64b50aa9bab210007dfd0;User ID=qwhcmltprtwaaeeg;Password=4ioN2QQq4GhBGRit6usEEeh3e5gpaaNaxGibkTQ7kcj5tse7LHcPZMRXbtJ6HAp4;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
